$lightBackgroundColor:  #beecfc;
$lightHeaderColor: red;
$lightTertiaryColor:  rgb(175, 0, 15) ;
$lightNavColor: #0d0d4b;

$darkBackgroundColor: #0d0d4b;
$darkHeaderColor:  rgb(26, 195, 252);
$darkTertiaryColor:  rgb(153, 43, 52);
$darkNavColor:#beecfc;

body, html, #app {
    height: 100%;
    width: 100%;
    margin: 0px;
}

body {
    background: $lightBackgroundColor;
    font-family: sans-serif;
}

.dark {
    color: $darkHeaderColor;
    background: $darkBackgroundColor;
    min-height: 100%;
}

.container {
    max-height: 1200px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
}



.navList {
    width: 85%;
    margin: 40px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 400;
}

.lightNavButton {
    font-weight: 800;
    list-style: none;
    margin-left: 20px;
    color: $lightNavColor;
}

.darkNavButton {
    font-weight: 800;
    list-style: none;
    margin-left: 20px;
    color: $darkNavColor;
}

.lightThemeButton {
    height: 55px;
    width: 55px;
    margin-left: 55%;
    margin-right: 10px;
    background: $lightNavColor;
    box-shadow: 2px 1px 2px $lightNavColor, 3px 2px 3px black;
    font-size: 30px;  
}

.darkThemeButton {
    height: 55px;
    width: 55px;
    margin-left: 55%;
    margin-right: 10px;
    background: $darkNavColor;
    box-shadow: 2px 1px 2px $darkNavColor, 3px 2px 3px black;
    font-size: 30px; 
}

.darkButton {
    border: none;
    margin: 8px;
    border-radius: 2px;
    height: 40px;
    width: 120px;
    color: hsl(0, 0%, 84%);
    background: rgb(31, 31, 31);
    font-size: 20px;
    box-shadow: 3px 2px 2px $darkNavColor, 4px 3px 2px #272727;
    transition: 0.3s;
    align-items: center; 
}

.lightButton {
    border: none;
    margin: 8px;
    border-radius: 2px;
    height: 40px;
    width: 120px;
    color: hsl(0, 0%, 84%);
    background: rgb(31, 31, 31);
    font-size: 20px;
    box-shadow: 3px 2px 2px $lightNavColor, 4px 3px 2px #272727;
    transition: 0.3s;
    align-items: center; 
}

.lightInfo {
    font-weight: 600;
    margin-bottom: 5px;
    color: $lightTertiaryColor
}

.darkInfo {
    font-weight: 600;
    margin-bottom: 5px;
    color: $darkTertiaryColor
}

.lightheader {
    color: $lightHeaderColor;
}

.darkheader {
    color: $darkHeaderColor;
}

.moveCenter {
    display: flex;
    justify-content: center;
}

.moveLeft {
    margin-left: 67px; 
}

.spaceAround {
    display: flex;
    justify-content: space-around;
}

.kontainer {
    width: 85%;
    margin: 20px 40px;
    padding-left: 20px;
}

.lightcard {
    display: block;
    flex-direction: column;
    align-items: left;
    justify-items: space-around;
    margin-bottom: 15px;
    padding: 3px 25px 15px;
    background: #4e4e4e4b;
    border-radius: 5px;
    box-shadow: .8px 1.3px 3px #181818ab
}

.darkcard {
    display: block;
    flex-direction: column;
    align-items: left;
    justify-items: space-around;
    margin-bottom: 15px;
    padding: 3px 25px 15px;
    background: rgba(186, 236, 253, 0.795);
    border-radius: 5px;
    box-shadow: .8px 1.3px 3px rgb(0, 168, 224)
}


.lightCardLine {
    padding: 0px;
    color: $lightTertiaryColor;
    text-decoration: none;
}

.darkCardLine {
    padding: 0px;
    color: $darkTertiaryColor;
    text-decoration: none;
}

.noUnderline{
    text-decoration: none;
}

.noUnderline:hover {
    transition: 0.3s;
    text-shadow: 1.5px 1.5px 2px #446fcc, 
}

.artLink {
    color: rgb(26, 26, 26)
}

//CompareInstructions
.instructions {
    display: flex;
    flex-direction: row;
    width: 95%;
    margin-top: 50px;
}

.morePadding {
    padding: 50px;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 10% 5% 0%;

}

input {
    margin: 10px;
    height: 35px;
    width: 170px;
    box-shadow: 0.5px 0.3px inset;
    border-radius: 3px;
    margin-left: 15%;
}


button:hover, .lightButton:hover, .darkButton:hover {
    box-shadow: 0px -4px 5px #64bedb, 0px 4px 5px #64bedb, -4px 0px 5px #64bedb, 4px 0px 5px #64bedb;
    transition: 0.3s;
}















